<template name="eventList">

  <!-- Events -->
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title" id="events-title">
          <i class="fa fa-th-list" style="margin-right: 5px;"></i>Events
          <button style="margin-top:-7px" type="button" class="btn btn-default btn-sm pull-right" data-toggle="modal" data-target="#eventsModal">
            <i class="fa fa-question-circle fa-lg"></i>
          </button>
        </h3>
      </div>
      <div class="panel-body" id="events-table">
        <table>
          <tr>
            <td>Total Events</td> <td><span id="totalEvents" class='badge global-stats'>30</span></td>
            <td>Frequency Events</td> <td><span id="totalFrequencyEvents" class='badge global-stats'>10</span></td>
            <td>Voltage Events</td> <td><span id="totalVoltageEvents" class='badge global-stats'>20</span></td>
          </tr>
        </table>
        <!--@if(data.totalEventsCount > 0) {-->
        <table class="table table-hover" id="events">
          <thead>
          <tr>
            <th>Timestamp</th>
            <th>Type</th>
            <th>Duration</th>
            <th>Value</th>
            <th>ITIC</th>
          </tr>
          </thead>
          <tbody>
            {{#each events}}
              {{> event}}
            {{/each}}
          </tbody>
        </table>
        <!--} else {-->
        <!--No events to display.-->
        <!--}-->
      </div>
      <div class="panel-footer panel-title">
        <button type="button" class="btn btn-primary btn-xs" id="prev-page-btn">
          <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
        </button>

        <button type="button" class="btn btn-primary btn-xs" id="next-page-btn">
          <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
        </button>
      </div>
    </div>
  </div>

</template>