<template name="practice">
  <!-- Two column layout. Left column: filters & map. Right column: Events and event details. -->
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          {{> addPractice}}
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          {{> listPractice}}
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          {{> editPractice}}
        </div>
      </div>
    </div>
  </div>

</template>