<template name="deviceconfig">
    <div class="row">
      <!-- Account update directions -->
      <div class="col-lg-3 well">
        <b>OPQBox Configuration</b>
        <p>This page allows you to update information linked to your OPQBoxes.</p>
        <p>The <b>Description</b> field should be a common name for your device (i.e. Jane's Office).</p>
        <p>Check the <b>Share data</b> checkbox to share your power quality data publicly and anonymously.</p>
        <p>To change the location of your device, select a new location on the map.</p>
      </div>

      <div class="col-lg-4">
        {{> flashAlert flashAlertRef=(getTemplateInstanceVariable 'flashAlert')}}

        {{#autoForm schema=deviceConfigFormSchema template="bootstrap3-horizontal" id="deviceconfigForm" doc=deviceConfigFormDoc type="normal" resetOnSuccess=false templateInstance=getTemplateInstance}}
          {{> afFormGroup name="deviceId" type="text" formgroup-class="col-md-12" readOnly=true label-class="col-md-4" input-col-class="col-md-8"}}
          {{> afFormGroup name="accessKey" type="text" formgroup-class="col-md-12" readOnly=true label-class="col-md-4" input-col-class="col-md-8"}}
          {{> afFormGroup name="gridId" id="gridId" type="text" formgroup-class="col-md-12" readOnly=true label-class="col-md-4" input-col-class="col-md-8"}}
          {{> afFormGroup name="description" type="text" formgroup-class="col-md-12" label-class="col-md-4" input-col-class="col-md-8"}}
          {{> afFormGroup name="sharingData" type="boolean-checkbox" formgroup-class="col-md-12" label-class="col-md-4" input-col-class="col-md-8"}}
          {{> afFieldInput name="northEastLatitude" id="northEastLatitude" type="hidden"}}
          {{> afFieldInput name="northEastLongitude" id="northEastLongitude" type="hidden"}}
          {{> afFieldInput name="southWestLatitude" id="southWestLatitude" type="hidden"}}
          {{> afFieldInput name="southWestLongitude" id="southWestLongitude" type="hidden"}}
          {{> afFieldInput name="gridScale" id="gridScale" type="hidden"}}
          {{> afFieldInput name="gridRow" id="gridRow" type="hidden"}}
          {{> afFieldInput name="gridCol" id="gridCol" type="hidden"}}
          {{> afFieldInput name="device_id" type="hidden"}}
          {{> afFieldInput name="location_id" type="hidden"}}
          <button type="submit" class="col-sm-offset-4 btn btn-primary" id="submitBtn" name="submitBtn">Update OPQBox</button>
        {{/autoForm}}


      </div>

        <!-- Map -->
      <div class="col-lg-5">
          <div id="grid-map" style="height:500px"></div>
      </div>
    </div>

</template>